/*a{
    color:inherit;
    text-decoration: none;
}

li{
    list-style: none;
}
.container{
  width: 1150px;
  height: 533px;
}

.logo{
   position: absolute; left: 1090px;

}

.menu{
    width: 1120px;
    height: 43px;
}
.nav{
    display: flex;
    justify-content: space-between;
}
.menu-list{
    display: flex;
    gap: 0 35px;
    margin: 0px 0px 18px 622px;
}
body{
    margin: 0px;
}
.text{
    width: 390px;
    height: 151px;
    padding: 145px 760px 237px 0px;
}
.text1{
    font-size: 50px;
    margin: 0;
}
.video{
    width: 388px;
    height: 60px;
}
.name{
    width: 390px;
    height: 66px;
}